APP_NAME=task-management-api
ENV=development
DEBUG=True

# API

API_V1_PREFIX=/api/v1

# Database

DATABASE_URL=

# Redis

REDIS_URL=redis://127.0.0.1:6379/0

# AUTH

SECRET_KEY=...
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
